<!-- 
    El radio ira desde 160 a 260
-->
<app-header></app-header>
<main>
    <svg 
        class="test-svg"
        x="0px" 
        y="0px" 
        viewbox="0 0 450 450"
        attr.width="{{ (generalServices.getRatioValue() * 2) + 50}}"
    	attr.height="{{ (generalServices.getRatioValue() * 2) + 50}}" >
    	<defs>
            <g id="car">
                <path class="st0-car" d="M5.7,36.8l-4.9-1.3c0,0-0.7-1.7,0.1-2.7c0-0.1,0.1-0.1,0.1-0.1C2.1,31.7,5.7,36.8,5.7,36.8z"/>
                <path class="st0-car" d="M26.6,37l4.9-1.3c0,0,0.7-1.7-0.1-2.7c0-0.1-0.1-0.1-0.1-0.1C30.2,31.9,26.6,37,26.6,37z"/>
                <path class="st0-car" d="M25,52.2c0,0-12.7,1.8-17.7,0c0,0-4-0.8-3.2-15.1S4.5,3.4,4.5,3.4S11.2-2.8,27.4,3L28.1,37
                    C28.1,37,28.1,50.7,25,52.2z"/>
                <polygon class="st1-car" points="26.3,10.1 26.2,34.3 24.4,28.1 24.6,14.1 	"/>
                <path class="st2-car" d="M6.7,50.9l0.8,1.3l4.3,0.3c0,0-2.9-1.6-4.6-2.3C6.8,50.1,6.5,50.6,6.7,50.9z"/>
                <polygon class="st1-car" points="5.9,10 6,34.2 7.9,28 7.6,14 	"/>
                <path class="st1-car" d="M23.7,29.5l2.1,8.3c0,0-8.2,3.9-19.1,0l1.8-8.2L23.7,29.5z"/>
                <path class="st3-car" d="M26,40"/>
                <path class="st1-car" d="M8.6,4.8h15.1c0.7,0,1.2,0.5,1.2,1.2v4.9c0,0.9-0.7,1.5-1.5,1.5H9c-0.9,0-1.5-0.7-1.5-1.5V6
                    C7.4,5.3,8,4.8,8.6,4.8z"/>
                <path class="st2-car" d="M25.1,50.8l-0.8,1.3L20,52.4c0,0,2.9-1.6,4.6-2.3C25,50,25.3,50.4,25.1,50.8z"/>
                <polyline class="st3-car" points="20.6,29.7 19.2,31.1 13.3,31.1 11.7,29.5 	"/>
                <line class="st3-car" x1="23.9" y1="38.4" x2="16.6" y2="31.1"/>
                <line class="st3-car" x1="21.4" y1="39.1" x2="13.6" y2="31.2"/>
            </g>
        </defs>
        <circle 
            class="st0-road" 
            attr.cx="{{ generalServices.getRatioValue() + 25}}" 
            attr.cy="{{ generalServices.getRatioValue() + 25}}" 
            attr.r="{{ generalServices.getRatioValue() }}"/>
    	<circle 
            class="st1-road" 
            attr.cx="{{ generalServices.getRatioValue() + 25}}" 
            attr.cy="{{ generalServices.getRatioValue() + 25}}" 
            attr.r="{{ generalServices.getRatioValue() - 90}}"/>
        <!-- 
            Las coordenadas para este seran
            x = 0
            y = radio - 5  
        -->
        <rect 
            class="st0-road" 
            height="100" 
            width="35"
            x="0"
            attr.y="{{ generalServices.getRatioValue() - 15 }}"/>
        <!-- 
            Las coordenadas para este seran
            x = diametro + 20
            y = radio - 5 
        -->
        <rect 
            class="st0-road" 
            height="100" 
            width="35"
            attr.x="{{ (generalServices.getRatioValue() * 2) + 15}}"
            attr.y="{{ generalServices.getRatioValue() - 15 }}"/>
        <!-- 
            Las coordenadas para este seran
            x = radio - 5
            y = 0 
        -->
        <rect 
            class="st0-road" 
            height="35" 
            width="100"
            attr.x="{{ generalServices.getRatioValue() - 15}}"
            y="0"/>
        <!-- 
            Las coordenadas para este seran
            y = diametro + 20
            x = radio - 5  
        --> 
        <rect 
            class="st0-road" 
            height="35" 
            width="100"
            attr.y="{{ (generalServices.getRatioValue() * 2) + 15}}"
            attr.x="{{ generalServices.getRatioValue() - 15 }}"/>
        <use
            *ngFor="let car of generatedCar"
            class="car"
            xlink:href="#car"
            attr.x="{{ car.x }}"
            attr.y="{{ car.y }}"
            attr.transform="rotate({{ car.angle }}, {{ car.x }}, {{ car.y }})">
        </use>    
    </svg>
    <button
        (click)="showInput = !showInput"
        class="data-information">
        <svg x="0px" y="0px" width="77.6px"
	        height="38.8px" viewBox="0 0 77.6 38.8">
            <path class="st0" d="M0,38.8C0,17.4,17.4,0,38.8,0s38.8,17.4,38.8,38.8"/>
            <polyline class="st1" points="22,29.4 38.9,12.5 55.6,29.2 "/>
        </svg>
    </button>
<div
    *ngIf="showInput"
    class="container-input">
    <div class="input-container">
        <app-incrementer
            [index]="actualIndex">
        </app-incrementer>
    </div>
    <div class="breadcrumb">
        <button 
            *ngFor="let j of controlInput; let i = index"
            [disabled]="j.disable"
            (click)="setActiveButton(i)"
            [class.active-button]="j.active"
            class="button-action">
            <span>{{ j.buttonTitle }}</span>
        </button>
    </div>
    <button 
        (click)="showInput = !showInput"
        class="close-button">
        <fa-icon [icon]="faTimes"></fa-icon>
    </button>
</div>
</main>