main{
    display: flex;
    padding: 50px;
    box-sizing: border-box;
    min-height: calc(100vh - 70px);
    justify-content: space-between;
    background-color: var(--E-Black);
}

main div:nth-of-type(1)>form{
    display: flex;
    flex-direction: column;
}

form input{
    color: white;
    background-color: transparent;
}

table{
    margin: 0px;
    padding: 0px;
    width: 500px;
    color: white;
    border-width: 3px;
    border-color: var(--E-Green);
}

table tbody{
    border-top: 1px solid var(--E-Green);
}

.total-cost{
    color: white;
    font-weight: 400;
}

.container-options>div{
    width: 100%;
    color: white;
}

.option{
    margin-bottom: 10px;
}

.option>button{
    padding: 2px 3px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
    color: var(--E-Green);
    box-sizing: border-box;
    background: transparent;
    border: 2px solid var(--E-Green);
}

.form-container{
    width: 100%;
}

#select-place{
    border: none;
    color: white;
    backgrounnd: transparent;
    border-bottom: 2px solid var(--E-Green);
}

@media only screen and (max-width: 1050px){
    main{
        flex-direction: column;
        justify-content: space-around;
        padding: 0px;
    }

    main div:nth-of-type(1), main div:nth-of-type(2){
        margin: 0px auto;
    }

}