<app-header></app-header>
<main>
    <div>
        <form action="">
            <input class="input-underline" type="text" placeholder="Numero de pasajeros de primera clase">
            <input class="input-underline" type="text" placeholder="Numero de pasajeros de clase turista">
            <input class="input-underline" type="text" placeholder="Numero de pasajeros de 3era edad o niño">
            <input class="input-underline" type="text" placeholder="¿Cual es la distancia de origen a destino?">
            <button
                class="button-primary mt-5p">
                Calcular
            </button>
        </form>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Clase</th>
                    <th>Distancia</th>
                    <th>Precio del viaje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Primera clase</th>
                    <td>000.00</td>
                    <td>000.00</td>
                </tr>
                <tr>
                    <th>Clase normal</th>
                    <td>000.00</td>
                    <td>000.00</td>
                </tr>
                <tr>
                    <th>Tercera edad y niños</th>
                    <td>000.00</td>
                    <td>000.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>